[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Phuoc_Duy_WindowsProgrammingAdvanced
[access "refs/*"]
	owner = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	label-Verified = -1..+1 group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	push = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	read = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	rebase = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	removeReviewer = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	submit = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
[access "refs/heads/*"]
	create = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	push = +force group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	pushMerge = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	read = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
[access "refs/tags/*"]
	push = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	push = +force group user/Tran Nguyen Ba Phuoc (PhuocTran95)
