<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.QLCafeConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.QLCafeConnectionString1"
            connectionString="Data Source=.;Initial Catalog=QLCafe;Persist Security Info=True;User ID=sa;Password=sapassword"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.QLCafeConnectionString2"
            connectionString="Data Source=.;Initial Catalog=QLCafe;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>